<header class="flex w-full justify-between bg-zinc-50 py-4 px-6">
    <h1 class="font-extrabold text-2xl">Livraria <span class="text-sky-500">Tech</span></h1>
    
    <nav>
        <ul class="flex font-bold gap-4">
            <li class="hover:text-sky-500"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="hover:text-sky-500"><a href="{% url 'sobre' %}">Entrar</a></li>
            <li class="hover:text-sky-500"><a href="{% url 'sobre' %}">Cadastrar</a></li>
        </ul>
    </nav>
</header>